@import 'src/variables.scss';

.logo-img {
  position: relative;
  top: 50vh;
}

.logo {
  .logo-img {
    animation: fade-up $animation-time forwards;
  }
}

@keyframes fade-up {
  0% {
    top: 50vh;
  }
  15% {
    top: 50vh;
  }
  100% {
    top: 50px;
  }
}
